{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindFunctions": ["clsx"],
    "bracketSameLine": true,
    "semi": true, 
    "singleQuote": false, 
    "trailingComma": "all", 
    "tabWidth": 4, 
    "useTabs": false, 
    "bracketSpacing": true, 
    "arrowParens": "always", 
    "printWidth": 100, 
    "jsxSingleQuote": false, 
    "proseWrap": "preserve", 
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}
